section.about {
    padding: 10px;
    h2 {
        font-size: 5vw;
    }
    .bio {
        display: flex;
        flex-direction: column;
        line-height: 1.7;
        .view-resume {
            align-self: center;
            font-size: 1.5em;
        }
        h3 {
            margin: 0;
        }
    }
}