section.about {
    padding: 10px;
    h2 {
        font-size: 5vw;
        padding: 2vw;
    }
    .bio {
        padding-left: 2vw;
        margin-right: 15px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        max-width: 1200px;
        line-height: 1.7;
        .view-resume {
            align-self: center;
            font-size: 1.5em;
        }
        h3 {
            margin: 0;
        }
    }
}