#contact {
    font-size: 5vw;
    padding: 2vw;
    margin-bottom: 0px;
}
.contact-info {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding: 2vw;
    ul {
        width: 20%;
        line-height: 2.5;
        li {
            padding-left: 0px;
            display: flex;
        }
    }
    picture {
        width: 50%;
        // padding: 2vw;
        display: flex;
        img {
            width: 80%;
            border-radius: 2em;
        }
    }
}

@media (max-width: 640px) {
    .contact-info ul {
        width: 50%;
    }
}