.contact-info {
    width: 95vw;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    ul {
        line-height: 2.5;
        li {
            padding-left: 0px;
            display: flex;
        }
    }
    picture {
        width: 50vw;
        display: flex;
        img {
            width: 80%;
            border-radius: 2em;
        }
    }
}


@media (max-width: 640px) {
    .contact-info {
        justify-content: stretch;
        ul {
            width: 50vw;
            padding-left: 0px;
        }
        picture {
            justify-content: flex-end;
            img {
                width: 100%;
                align-self: center;
            }
        }
    }
}