header {
    background-image: url("../assets/header.webp");
    width: 100vw;
    margin: 15vh 0px 0px 0px;
    height: 70vh;
    background-size: cover;
}

@media (max-width: 640px) {
    header {
        h1 {
            font-size: 8vmin;
        }
    }
}