@mixin noBuffer {
    margin: 0px;
    padding: 0px;
}

@mixin flexStyle ($flex-direction, $justify-content) {
    display: flex;
    flex-direction: $flex-direction;
    justify-content: $justify-content;
}

nav {
    width: 100vw;
    height: 15vh;
    @include flexStyle(row, center);
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
    background-color: hsla(0,0%,100%,.85);
    h1 {
        font-size: 6vw;
        width: 50%;
        // @include noBuffer();
        padding: 2vw;
    }
    ul {
        font-size: 3vw;
        width: 50%;
        @include flexStyle(row, space-around);
        @include noBuffer();
    }
}

@media (max-width: 640px) {
    body {
        nav {
            @include flexStyle(column, space-around);
            h1 {
                font-size: 8vmin;
                align-self: center;
                text-align: center;
                width: 100%;
                margin-bottom: 0px;
                margin-top: 0px;
            }
            ul {
                font-size: 4vmin;
                width: 100%;
            }
        }
    }
}


@media (min-width: 641px) {
    body {
        nav {
            @include flexStyle(row, space-between);
            ul {
                margin-top: 2vw;
            }
        }
    }
}