@media (max-width: 640px) {
    body {
        font-size: 16px;    
        nav {
            h1 {
                font-size: 12vmin;
                width: 80%;
                padding: 20px;
            }
            .mobile-nav {
                display: flex;
                .hamburger-icon {
                    margin-left: 0px;
                    fill: #555664;
                }
            }
            .desktop-nav {
                display: none;
            }
        }
    }
}


@media (min-width: 641px ) {
    body {
        font-size: 20px;
        .mobile-nav {
            display: none;
        }
        .desktop-nav {
            display: flex;
            ul {
                display: flex;
                justify-content: space-around;
                width: 67vw;
            }
        }
    }
}