// Font import
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Roboto:wght@300&display=swap');

// Variables
$primaryFont: 'Roboto', sans-serif;
$headerFont: 'Arvo', serif;
$fontColor: #555664;

// Mixins
@mixin standardFont{
    font-family: $primaryFont;
    color: $fontColor;
}
@mixin linkStyles {
    color: $fontColor;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    } &:visited {
        text-decoration: none;
    }
}

// Text styling
body {
    font-size: 18px;
    @include standardFont();
    nav, h1, h2, h3, .view-resume {
        font-family: $headerFont;
    }
    h1 {
        padding: 2vw;
    }
    h2, h3 {
        margin-bottom: 0px;
    }
    a {
        @include linkStyles();
    }
    ul {
        li {
            list-style: none;
        }
    }
}

@media (max-width: 920px){
    h1 {
        font-size: 2.5em;
    }
    h2 {
        font-size: 2em;
    }
    h3, .view-resume {
        font-size: 1.5em;
    }
}

@media (min-width: 921px) {
    h1 {
        font-size: 5vw;
    }
    h2 {
        font-size: 4vw;
    }
    h3, .view-resume {
        font-size: 3vw;
    }
}