@import "./textStyles";
@import "./navStyles";
@import "./headerStyles";

html, body {
    width: 100%;
}

body {
    display: flex;
    flex-direction: column;
    @include standardFont();
    h1, h2, h3 {
        font-family: $headerFont;
    }
    a {
        @include linkStyles();
    }
    nav {
        font-family: $headerFont;
    }
    header {
        background-image: url("../assets/header.webp");
        width: 100vw;
        height: 70vh;
        background-size: cover;
    }
    .contact {
        background-image: url("../assets/contact.webp");
        background-size: cover;
        height: 50vh;
    }
}