@import url("https://fonts.googleapis.com/css2?family=Arvo&family=Roboto:wght@300&display=swap");
ul li {
  list-style: none;
}

nav {
  width: 100vw;
  height: 15vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  background-color: hsla(0deg, 0%, 100%, 0.85);
}
nav h1 {
  font-size: 6vw;
  width: 50%;
  padding: 2vw;
}
nav ul {
  font-size: 3vw;
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  margin: 0px;
  padding: 0px;
}

@media (max-width: 640px) {
  body nav {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
  }
  body nav h1 {
    font-size: 8vmin;
    align-self: center;
    text-align: center;
    width: 100%;
    margin-bottom: 0px;
    margin-top: 0px;
  }
  body nav ul {
    font-size: 4vmin;
    width: 100%;
  }
}
@media (min-width: 641px) {
  body nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  body nav ul {
    margin-top: 2vw;
  }
}
header {
  background-image: url("../assets/header.webp");
  width: 100vw;
  margin: 15vh 0px 0px 0px;
  height: 70vh;
  background-size: cover;
}
header h1 {
  padding: 2vw;
  font-size: 5vw;
}

@media (max-width: 640px) {
  header h1 {
    font-size: 8vmin;
  }
}
section.about {
  padding: 10px;
}
section.about h2 {
  font-size: 5vw;
  padding: 2vw;
}
section.about .bio {
  padding-left: 2vw;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
  line-height: 1.7;
}
section.about .bio .view-resume {
  align-self: center;
  font-size: 1.5em;
}
section.about .bio h3 {
  margin: 0;
}

section.contact {
  width: 100vw;
}
section.contact h2 {
  font-size: 5vw;
  padding: 2vw;
  margin-bottom: 0px;
}
section.contact .contact-info {
  width: 95vw;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2vw;
}
section.contact .contact-info ul {
  line-height: 2.5;
}
section.contact .contact-info ul li {
  padding-left: 0px;
  display: flex;
}
section.contact .contact-info picture {
  width: 50vw;
  display: flex;
}
section.contact .contact-info picture img {
  width: 80%;
  border-radius: 2em;
}

@media (max-width: 640px) {
  .contact-info {
    justify-content: stretch;
  }
  .contact-info ul {
    width: 50vw;
    padding-left: 0px;
  }
  .contact-info picture {
    justify-content: flex-end;
  }
  .contact-info picture img {
    width: 100%;
    align-self: center;
  }
}
html, body {
  width: 100%;
  margin: 0px;
}

body {
  display: flex;
  flex-direction: column;
  font-size: 18px;
  font-family: "Roboto", sans-serif;
  color: #555664;
}
body h1, body h2, body h3, body .view-resume {
  font-family: "Arvo", serif;
}
body #about, body #contact {
  margin-top: -15vh;
  padding-bottom: 10vh;
  display: block;
}
body a {
  color: #555664;
  text-decoration: none;
}
body a:hover {
  text-decoration: underline;
}
body a:visited {
  text-decoration: none;
}
body nav {
  font-family: "Arvo", serif;
}
body footer {
  padding-left: 2vw;
}/*# sourceMappingURL=style.css.map */